# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosytem are summerized

Some of the popular languages that Data Scientists uses are:

    1. Python
    2. Java
    3. R
    4. SQL
    5. c++

Some of the commonly used libraries used by Data Scientist include:
    
    1. Matplotlib
    2. Scikit-learn
    3. Pandas
    4. Numpy
    5. Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Spyder|
|ROdeo|

### Below are a few example of evaluating arithmetic expressions in python

In [4]:
z= 2+3
x= min(65,34,44)
y= max(2*4,55/3,pow(4,3))

print(x)
print(y)
print(z)
print(x+y)
print(z*x)
print(x+y/z)

34
64
5
98
170
46.8

This is a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

In [13]:
200//60

3

**Objectives:** Some of the key takeaways covered in this course includes List of popular language for Data Science:

- python
- Scala
- Java
- SQL
- C++

## Author
**Ibrahim Musbaudeen Olaitan**